In [1]:
import pandas as pd

In [52]:
import pandas as pd

# List to store each DataFrame
dataframes = []

# Loop to read each CSV and store the DataFrame in the list
for i in range(1, 13):
    df = pd.read_csv(f'players/p{i}.csv')
    dataframes.append(df)

# Concatenate all DataFrames in the list along rows (axis=0)
players = pd.concat(dataframes, axis=0)

# Optionally reset the index if needed
players.reset_index(drop=True, inplace=True)

# Display the combined DataFrame
players

,User,Name,Nationality,Born,Status,Years Active,Team,Alternate IDs,Approx. Total Winnings,Games,Tournament(AoE2),links,achievements,RMVoobly(AoE2)
0,Windy,NaN,China,NaN,Retired,2003 - 20042013,NaN,NaN,"$1,800",Age of Empires II(inactive),NaN,NaN,NaN,NaN
1,RAlbEr,Alberto Perandones,Spain,"September 21, 1982 (age 41)",Active,2002 - 201120172020 - Present,NaN,"Ralber, rAlbEr_MH, ralbertv, KuuZilla, Steven","$1,184",Age of Empires II(inactive),NaN,"['https://ralbertv.wordpress.com/', 'https://t...",NaN,NaN
2,Kamigawa,Simone Canel,Italy,"April 23, 1995 (age 29)",Active,2014 - Present,Rulers of Rome,NaN,"$2,238",Age of Empires II,1983(current)2000(highest),['https://steamcommunity.com/profiles/76561198...,NaN,2122(highest)
3,OLADUSHEK,Юрий Геращенко,Belarus,"June 19, 1995 (age 29)",Active,2014 - Present,Sweety Boys,NaN,"$1,908",Age of Empires II,NaN,['https://steamcommunity.com/profiles/76561198...,NaN,NaN
4,StrayDog,NaN,China,NaN,Active,1999/2002 - 20082016 - Present,White Wolf Palace,"BlackMamba, CiCa_Zhou","$2,619",Age of Empires II,2031(current)2036(highest),NaN,NaN,2511(highest)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,FlyLikeDjango,Joshua Fabian Briel,Germany,"February 24, 1997 (age 27)",Active,2020 - Present,NaN,"FLD, Django","$1,322",Age of Empires II(inactive)Age of Empires IV(i...,1957(current)1994(highest),"['https://discord.gg/HXFSj2R', 'https://www.in...",NaN,NaN
213,Sitaux,Arthur Alauzen,France,"November 16, 1999 (age 24)",Active,2015 - Present,mYinsanity,"wouf wouf, Cocorico","$38,366",Age of Empires IIAge of Empires IV(inactive),NaN,"['https://discord.gg/GZGGUTF', 'https://steamc...",NaN,2366(highest)
214,Salted_Pepper,NaN,Netherlands,NaN,Active,2015 – Present,NaN,Wickea,$204,Age of Empires II,NaN,"['https://discord.gg/NCzZt7n', 'https://steamc...",NaN,NaN
215,Flightlessbird,Jason,New Zealand,NaN,Active,NaN,NaN,NaN,$228,Age of Empires II,NaN,['https://steamcommunity.com/profiles/76561198...,NaN,NaN
216,IORI,NaN,China,NaN,Active,2004 - 200820172020 - Present,NaN,"KISS, The_Koven_fan, CMF-A-精鹰","$3,232",Age of Empires II(inactive),NaN,NaN,['World Clan League 4'],NaN

In [53]:
players['Born'] = players['Born'].replace({None:''})

In [54]:
players

,User,Name,Nationality,Born,Status,Years Active,Team,Alternate IDs,Approx. Total Winnings,Games,Tournament(AoE2),links,achievements,RMVoobly(AoE2)
0,Windy,NaN,China,,Retired,2003 - 20042013,NaN,NaN,"$1,800",Age of Empires II(inactive),NaN,NaN,NaN,NaN
1,RAlbEr,Alberto Perandones,Spain,"September 21, 1982 (age 41)",Active,2002 - 201120172020 - Present,NaN,"Ralber, rAlbEr_MH, ralbertv, KuuZilla, Steven","$1,184",Age of Empires II(inactive),NaN,"['https://ralbertv.wordpress.com/', 'https://t...",NaN,NaN
2,Kamigawa,Simone Canel,Italy,"April 23, 1995 (age 29)",Active,2014 - Present,Rulers of Rome,NaN,"$2,238",Age of Empires II,1983(current)2000(highest),['https://steamcommunity.com/profiles/76561198...,NaN,2122(highest)
3,OLADUSHEK,Юрий Геращенко,Belarus,"June 19, 1995 (age 29)",Active,2014 - Present,Sweety Boys,NaN,"$1,908",Age of Empires II,NaN,['https://steamcommunity.com/profiles/76561198...,NaN,NaN
4,StrayDog,NaN,China,,Active,1999/2002 - 20082016 - Present,White Wolf Palace,"BlackMamba, CiCa_Zhou","$2,619",Age of Empires II,2031(current)2036(highest),NaN,NaN,2511(highest)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,FlyLikeDjango,Joshua Fabian Briel,Germany,"February 24, 1997 (age 27)",Active,2020 - Present,NaN,"FLD, Django","$1,322",Age of Empires II(inactive)Age of Empires IV(i...,1957(current)1994(highest),"['https://discord.gg/HXFSj2R', 'https://www.in...",NaN,NaN
213,Sitaux,Arthur Alauzen,France,"November 16, 1999 (age 24)",Active,2015 - Present,mYinsanity,"wouf wouf, Cocorico","$38,366",Age of Empires IIAge of Empires IV(inactive),NaN,"['https://discord.gg/GZGGUTF', 'https://steamc...",NaN,2366(highest)
214,Salted_Pepper,NaN,Netherlands,,Active,2015 – Present,NaN,Wickea,$204,Age of Empires II,NaN,"['https://discord.gg/NCzZt7n', 'https://steamc...",NaN,NaN
215,Flightlessbird,Jason,New Zealand,,Active,NaN,NaN,NaN,$228,Age of Empires II,NaN,['https://steamcommunity.com/profiles/76561198...,NaN,NaN
216,IORI,NaN,China,,Active,2004 - 200820172020 - Present,NaN,"KISS, The_Koven_fan, CMF-A-精鹰","$3,232",Age of Empires II(inactive),NaN,NaN,['World Clan League 4'],NaN

In [74]:
import re

# Function to extract age from the 'born' column
def extract_age(row):
    #row = str(row)
    match = str(re.findall(r'(age\xa0\d{2})', row))
    match = re.findall(r'0\d{2}', match)
    if match:
        return match[0][1:]
    return None



# Apply the function to the 'born' column and create a new 'age' column
players['age'] = players['Born'].apply(extract_age)

#Display the DataFrame
players

,User,Name,Nationality,Born,Status,Years Active,Team,Alternate IDs,Approx. Total Winnings,Games,Tournament(AoE2),links,achievements,RMVoobly(AoE2),age
0,Windy,NaN,China,,Retired,2003 - 20042013,NaN,NaN,"$1,800",Age of Empires II(inactive),NaN,NaN,NaN,NaN,None
1,RAlbEr,Alberto Perandones,Spain,"September 21, 1982 (age 41)",Active,2002 - 201120172020 - Present,NaN,"Ralber, rAlbEr_MH, ralbertv, KuuZilla, Steven","$1,184",Age of Empires II(inactive),NaN,"['https://ralbertv.wordpress.com/', 'https://t...",NaN,NaN,41
2,Kamigawa,Simone Canel,Italy,"April 23, 1995 (age 29)",Active,2014 - Present,Rulers of Rome,NaN,"$2,238",Age of Empires II,1983(current)2000(highest),['https://steamcommunity.com/profiles/76561198...,NaN,2122(highest),29
3,OLADUSHEK,Юрий Геращенко,Belarus,"June 19, 1995 (age 29)",Active,2014 - Present,Sweety Boys,NaN,"$1,908",Age of Empires II,NaN,['https://steamcommunity.com/profiles/76561198...,NaN,NaN,29
4,StrayDog,NaN,China,,Active,1999/2002 - 20082016 - Present,White Wolf Palace,"BlackMamba, CiCa_Zhou","$2,619",Age of Empires II,2031(current)2036(highest),NaN,NaN,2511(highest),None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,FlyLikeDjango,Joshua Fabian Briel,Germany,"February 24, 1997 (age 27)",Active,2020 - Present,NaN,"FLD, Django","$1,322",Age of Empires II(inactive)Age of Empires IV(i...,1957(current)1994(highest),"['https://discord.gg/HXFSj2R', 'https://www.in...",NaN,NaN,27
213,Sitaux,Arthur Alauzen,France,"November 16, 1999 (age 24)",Active,2015 - Present,mYinsanity,"wouf wouf, Cocorico","$38,366",Age of Empires IIAge of Empires IV(inactive),NaN,"['https://discord.gg/GZGGUTF', 'https://steamc...",NaN,2366(highest),24
214,Salted_Pepper,NaN,Netherlands,,Active,2015 – Present,NaN,Wickea,$204,Age of Empires II,NaN,"['https://discord.gg/NCzZt7n', 'https://steamc...",NaN,NaN,None
215,Flightlessbird,Jason,New Zealand,,Active,NaN,NaN,NaN,$228,Age of Empires II,NaN,['https://steamcommunity.com/profiles/76561198...,NaN,NaN,None
216,IORI,NaN,China,,Active,2004 - 200820172020 - Present,NaN,"KISS, The_Koven_fan, CMF-A-精鹰","$3,232",Age of Empires II(inactive),NaN,NaN,['World Clan League 4'],NaN,None

In [77]:
import json
with open('result.json', 'r') as file:
    data = json.load(file)

In [78]:
players['User'] = players['User'].map(data)

In [82]:
players.drop(columns=['Born','Tournament(AoE2)','RMVoobly(AoE2)','Alternate IDs','Games'], inplace=True)

In [83]:

players = players.explode('links')
players

,User,Name,Nationality,Status,Years Active,Team,Approx. Total Winnings,links,achievements,age
0,windy,NaN,China,Retired,2003 - 20042013,NaN,"$1,800",NaN,NaN,None
1,ralber,Alberto Perandones,Spain,Active,2002 - 201120172020 - Present,NaN,"$1,184","['https://ralbertv.wordpress.com/', 'https://t...",NaN,41
2,Kamigawa,Simone Canel,Italy,Active,2014 - Present,Rulers of Rome,"$2,238",['https://steamcommunity.com/profiles/76561198...,NaN,29
3,OLADUSHEK,Юрий Геращенко,Belarus,Active,2014 - Present,Sweety Boys,"$1,908",['https://steamcommunity.com/profiles/76561198...,NaN,29
4,StrayDog,NaN,China,Active,1999/2002 - 20082016 - Present,White Wolf Palace,"$2,619",NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...
212,FlyLikeDjango,Joshua Fabian Briel,Germany,Active,2020 - Present,NaN,"$1,322","['https://discord.gg/HXFSj2R', 'https://www.in...",NaN,27
213,Sitaux,Arthur Alauzen,France,Active,2015 - Present,mYinsanity,"$38,366","['https://discord.gg/GZGGUTF', 'https://steamc...",NaN,24
214,Salted Pepper,NaN,Netherlands,Active,2015 – Present,NaN,$204,"['https://discord.gg/NCzZt7n', 'https://steamc...",NaN,None
215,flightlessbird,Jason,New Zealand,Active,NaN,NaN,$228,['https://steamcommunity.com/profiles/76561198...,NaN,None
216,IORI,NaN,China,Active,2004 - 200820172020 - Present,NaN,"$3,232",NaN,['World Clan League 4'],None

In [91]:
df = pd.read_csv('playersFinal.csv')
df.columns

Index(['id', 'player_id', 'num_matches', 'num_wins', 'num_games',
       'tournament_ids', 'last_match', 'last_match_time', 'rank', 'elo',
       'elo_update', 'elo_peak', 'de_elo', 'de_rank', 'de_update',
       'voobly_elo', 'voobly_rank', 'voobly_update', 'id.1', 'name', 'alias',
       'team_id', 'country_key', 'initial_elo_1v1', 'voobly_id', 'steam_id',
       'steam_id_failed', 'twitch', 'youtube', 'twitter', 'facebook',
       'private', 'create_user', 'create_time', 'update_user', 'update_time'],
      dtype='object')

In [94]:

final = pd.merge(df, players, left_on='name', right_on='User', how='right')
final.to_csv('playersDatosLiq.csv')