In [1]:
import pandas as pd

In [32]:
import pandas as pd

# List to store each DataFrame
dataframes = []

# Loop to read each CSV and store the DataFrame in the list
for i in range(1, 14):
    df = pd.read_csv(f'players/p{i}.csv')
    dataframes.append(df)

# Concatenate all DataFrames in the list along rows (axis=0)
players = pd.concat(dataframes, axis=0)

# Optionally reset the index if needed
players.reset_index(drop=True, inplace=True)

# Display the combined DataFrame
players

,User,Name,Nationality,Born,Status,Years Active,Team,Alternate IDs,Approx. Total Winnings,Games,Tournament(AoE2),links,achievements,RMVoobly(AoE2)
0,Windy,NaN,China,NaN,Retired,2003 - 20042013,NaN,NaN,"$1,800",Age of Empires II(inactive),NaN,NaN,NaN,NaN
1,RAlbEr,Alberto Perandones,Spain,"September 21, 1982 (age 41)",Active,2002 - 201120172020 - Present,NaN,"Ralber, rAlbEr_MH, ralbertv, KuuZilla, Steven","$1,184",Age of Empires II(inactive),NaN,"['https://ralbertv.wordpress.com/', 'https://t...",NaN,NaN
2,Kamigawa,Simone Canel,Italy,"April 23, 1995 (age 29)",Active,2014 - Present,Rulers of Rome,NaN,"$2,238",Age of Empires II,1983(current)2000(highest),['https://steamcommunity.com/profiles/76561198...,NaN,2122(highest)
3,OLADUSHEK,Юрий Геращенко,Belarus,"June 19, 1995 (age 29)",Active,2014 - Present,Sweety Boys,NaN,"$1,908",Age of Empires II,NaN,['https://steamcommunity.com/profiles/76561198...,NaN,NaN
4,StrayDog,NaN,China,NaN,Active,1999/2002 - 20082016 - Present,White Wolf Palace,"BlackMamba, CiCa_Zhou","$2,619",Age of Empires II,2031(current)2036(highest),NaN,NaN,2511(highest)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,Ronotovi,Alican,Turkey,NaN,Active,NaN,Hot Young Masters,"m3lankolia, f4bi0, alican_v2, rono",$612,Age of Empires II,1942(current)1992(highest),['https://steamcommunity.com/profiles/76561198...,NaN,NaN
231,RediRodion,NaN,Poland,NaN,Active,NaN,NaN,NaN,$164,Age of Empires II(inactive),1947(current)1992(highest),"['https://steamcommunity.com/id/redirodion', '...",NaN,NaN
232,ElNoniro,Igor,Poland,NaN,Active,NaN,NaN,NaN,"$1,095",Age of Empires II,2053(current)2069(highest),['https://facebook.com/ElNoniro-10928911428796...,NaN,NaN
233,Goodboy,Ming Cao,China,1984 (age 39-40),Retired,2000 - 2013,NaN,"Goodboy1, moments, Ming__, WuYuaN","$3,020",Age of Empires II(inactive),NaN,NaN,['SY Nations Cup 1'],NaN
234,CAT,Артемий Ашихмин,Russia,NaN,Active,2022 - Present,3D!Clan,NaN,"$2,163",Age of Empires IIAge of Empires IV,NaN,NaN,NaN,NaN

In [22]:
names = list(players['User'])
names.sort()
print(names)

['ACCM', 'Abe', 'Alive', 'Alperen', 'Andorin', 'Andrew_(Hungarian_player)', 'AngelinaJolie', 'BT4', 'BacT', 'BadBoy', 'BadBoy', 'BadBoy', 'BlinG', 'BruH', 'Bvirus', 'Bvirus', 'Bvirus', 'CL_(player)', 'Canary', 'Capout', 'Capout', 'Capout', 'Chart', 'Chun_Yu', 'Chun_Yu', 'Chun_Yu', 'Chun_Yu', 'Chun_Yu', 'Classicpro', 'CooL', 'Crexis', 'Cyclops', 'Cyclops', 'Dante_(American_player)', 'Dante_(American_player)', 'Dante_(American_player)', 'DarK_KnighT', 'Darvoi', 'Dave_hun', 'Dogao', 'Dr.Kozmonot', 'Dr.Kozmonot', 'Dratek', 'DreaIVIS', 'Dreamer', 'Dziamdziak', 'Dziamdziak', 'ElMago', 'ElNoniro', 'El_Matador', 'Emalius2', 'Emalius2', 'Emil_:D', 'Escape', 'F1Re', 'FIRE', 'Faraday', 'Faraday', 'Faraday', 'FeAge', 'FeAge', 'Fedex', 'FletcheR', 'Flightlessbird', 'FlyLikeDjango', 'FlyLikeDjango', 'Gary', 'Gary', 'GeeK', 'GeeK', 'Geoffrey', 'Gergis', 'GoKu', 'Good_Game', 'Halen', 'Hani', 'Hearttt', 'IORI', 'IORI', 'IamKmkm', 'IamKmkm', 'Imperio_cc', 'Imperio_cc', 'JackK', 'Janik', 'Jibatong', 'Jidba', 'Jidba', 'JonSlow', 'JonSlow', 'JorDan_AoE', 'JorDan_AoE', 'JuanNNN', 'JuanNNN', 'Kamigawa', 'Kamigawa', 'Kaohen', 'Kasva', 'Kasva', 'King_Boo', 'KingstoNe', 'Komtan', 'Komtan', 'Kongensgade', 'Kongensgade', 'Koven', 'LaN', 'Latko', 'Lojza', 'Lojza', 'Lojza', 'Loko', 'Lucho', 'Lyx', 'Lyx', 'M4Te', 'M4Te', 'MbL', 'Metal', 'Mihai06', 'Mihai06', 'Millo', 'Mimmox', 'Ming_(Hong_Kongese_player)', 'Modri', 'Modri', 'Nectarie', 'Nick', 'Noisick', 'Novalily', 'OLADUSHEK', 'OLADUSHEK', 'Ozone', 'Paladin_(player)', 'Paladin_(player)', 'Pela', 'Pela', 'Praxes', 'Praxes', 'RAYAN', 'RAYAN', 'RAlbEr', 'RediRodion', 'Redlash', 'Redlash', 'Repard', 'Repard', 'RiuT', 'Ronotovi', 'Ronotovi', 'Ronotovi', 'Salsicciotto1999', 'Salsicciotto1999', 'Salsicciotto1999', 'Salted_Pepper', 'Saymyname', 'Scotty', 'SeOul', 'Shades', 'Shades', 'Sitaux', 'Skull', 'Skull', 'Slam', 'Slam', 'Slam', 'Slam', 'Socksyy', 'Solara', 'Somero', 'Somero', 'SongSong', 'Sora_Kuma', 'Spaden', 'Spaden', 'StrayDog', 'T90Official', 'Target331', 'Target331', 'Target331', 'TheMax', 'The_Bloodless', 'The_Bloodless', 'The_Dragonstar', 'TokiwaMiao', 'Tulendeena', 'Twigg', 'Twigg', 'Ubetnir', 'Uno1', 'Uno1', 'Uno1', 'Uzzi', 'VicVega', 'VicVega', 'Vile', 'Vile', 'Vinchester', 'Vivi', 'Vodka_L', 'WAkKo', 'WAkKo', 'Warsteiner', 'Whitecourt', 'Whoop', 'Windy', 'Windy', 'WraTh_(Brazilian_player)', 'WraTh_(Irish_player)', 'WraTh_(Irish_player)', 'Xiaofan', 'Yezris', 'Yezris', 'Yezris', 'Yo', 'Zyatou', 'Zyatou']

In [24]:
import json
with open('TempData/result.json','r') as file:
    data = json.load(file)

names2 = list(data.keys())
names2.sort()

In [26]:

NotIn = []
for name in names2:
    if name not in names:
        NotIn.append(name)
print(NotIn)

['2scareD', '8th_wonder', 'Babaorum', 'Bad_Koala', 'Bee', 'Bender', 'Buddha', 'CAT', 'CHELOOO', 'Capoch', 'Capy', 'Chocobo', 'Chris', 'Cl3m3nT', 'Cloud_(Taiwanese_player)', 'D3rp', 'Daniel', 'Dark', 'DauT', 'DemonSheep', 'DracKeN', 'Duck', 'Edie', 'Emin', 'Fish', 'FreakinAndy', 'Funito', 'Ganji', 'Good_luck', 'Goodboy', 'Grunt', 'Hera', 'HigH', 'IamOK', 'Inc', 'Kaaaai', 'Kaiser_Wilhelm', 'Kkab', 'Leozim', 'Liereyy', 'Lucky_Rox', 'Magi', 'Margougou', 'Melkor', 'Mica', 'Miguel', 'MoZory', 'Monoz', 'MuSe', 'Nicov', 'Nili', 'NoLo', 'Overtaken', 'PROject_Belgium', 'PaTiN', 'PeEl', 'RD_ChampioN', 'Ra_(player)', 'Ramirez', 'RatS', 'Rise', 'Rodrigus', 'RuKie', 'Rubenstock', 'Running', 'Ruso', 'Rxndy', 'Sebastian2002', 'ShiNe', 'Snapy', 'Sobek', 'Spring', 'St4rk', 'TaToH', 'TheViper', 'Tim', 'Ugnis', 'Valas', 'Villese', 'WaRRioR', 'Yasin', 'Z40', 'Zuppi']

In [29]:
len(NotIn)

83

In [34]:
playersRest = pd.read_csv('TempData/playersRest.csv')

In [35]:
players['Born'] = players['Born'].replace({None:''})
playersRest['Born'] = playersRest['Born'].replace({None:''})

In [36]:
import re

# Function to extract age from the 'born' column
def extract_age(row):
    #row = str(row)
    match = str(re.findall(r'(age\xa0\d{2})', row))
    match = re.findall(r'0\d{2}', match)
    if match:
        return match[0][1:]
    return None



# Apply the function to the 'born' column and create a new 'age' column
players['age'] = players['Born'].apply(extract_age)

#Display the DataFrame
players

,User,Name,Nationality,Born,Status,Years Active,Team,Alternate IDs,Approx. Total Winnings,Games,Tournament(AoE2),links,achievements,RMVoobly(AoE2),age
0,Windy,NaN,China,,Retired,2003 - 20042013,NaN,NaN,"$1,800",Age of Empires II(inactive),NaN,NaN,NaN,NaN,None
1,RAlbEr,Alberto Perandones,Spain,"September 21, 1982 (age 41)",Active,2002 - 201120172020 - Present,NaN,"Ralber, rAlbEr_MH, ralbertv, KuuZilla, Steven","$1,184",Age of Empires II(inactive),NaN,"['https://ralbertv.wordpress.com/', 'https://t...",NaN,NaN,41
2,Kamigawa,Simone Canel,Italy,"April 23, 1995 (age 29)",Active,2014 - Present,Rulers of Rome,NaN,"$2,238",Age of Empires II,1983(current)2000(highest),['https://steamcommunity.com/profiles/76561198...,NaN,2122(highest),29
3,OLADUSHEK,Юрий Геращенко,Belarus,"June 19, 1995 (age 29)",Active,2014 - Present,Sweety Boys,NaN,"$1,908",Age of Empires II,NaN,['https://steamcommunity.com/profiles/76561198...,NaN,NaN,29
4,StrayDog,NaN,China,,Active,1999/2002 - 20082016 - Present,White Wolf Palace,"BlackMamba, CiCa_Zhou","$2,619",Age of Empires II,2031(current)2036(highest),NaN,NaN,2511(highest),None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,Ronotovi,Alican,Turkey,,Active,NaN,Hot Young Masters,"m3lankolia, f4bi0, alican_v2, rono",$612,Age of Empires II,1942(current)1992(highest),['https://steamcommunity.com/profiles/76561198...,NaN,NaN,None
231,RediRodion,NaN,Poland,,Active,NaN,NaN,NaN,$164,Age of Empires II(inactive),1947(current)1992(highest),"['https://steamcommunity.com/id/redirodion', '...",NaN,NaN,None
232,ElNoniro,Igor,Poland,,Active,NaN,NaN,NaN,"$1,095",Age of Empires II,2053(current)2069(highest),['https://facebook.com/ElNoniro-10928911428796...,NaN,NaN,None
233,Goodboy,Ming Cao,China,1984 (age 39-40),Retired,2000 - 2013,NaN,"Goodboy1, moments, Ming__, WuYuaN","$3,020",Age of Empires II(inactive),NaN,NaN,['SY Nations Cup 1'],NaN,39
234,CAT,Артемий Ашихмин,Russia,,Active,2022 - Present,3D!Clan,NaN,"$2,163",Age of Empires IIAge of Empires IV,NaN,NaN,NaN,NaN,None

In [37]:
playersRest['age'] = playersRest['Born'].apply(extract_age)
playersRest

,User,Name,Nationality,Born,Status,Years Active,Team,Alternate IDs,Approx. Total Winnings,Games,Tournament(AoE2),links,achievements,RMVoobly(AoE2),age
0,2scareD,Kristoffer Ringkvist,Sweden,,Retired,2001 - 2011,NaN,Ringkvist,"$3,433",Age of Empires II(inactive),NaN,NaN,"['World Clan League 3', 'World Clan League 6']",NaN,None
1,8th_wonder,Mikus,Latvia,"June 12, 1990 (age 34)",Active,2009 - Present,NaN,"MalevolentBully, NoReIGoEat, omnomnom_",$921,Age of Empires II(inactive),NaN,['https://steamcommunity.com/profiles/76561198...,NaN,2284(highest),34
2,Babaorum,Pierre,France,1990 (age 33-34),Active,2001 - Present,NaN,"The Big Boss, bunte_kuh","$5,181",Age of Empires II,NaN,['https://steamcommunity.com/profiles/76561198...,NaN,2363(highest),33
3,Bad_Koala,NaN,China,1996 (age 27-28),Active,2020 - Present,LingYuan,宰臭猪,"$7,365",Age of Empires IIAge of Empires III(inactive)A...,2053(current)2053(highest),"['https://live.douyin.com/318465225449', 'http...",NaN,NaN,27
4,Bee,Павел Жигарев,Russia,"July 11, 1995 (age 29)",Active,2021 - Present,3D!Clan,NaN,"$28,564",Age of Empires IIAge of Empires IV,NaN,"['https://www.twitch.tv/3d_bee', 'https://good...",NaN,NaN,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,Zuppi,Tuomas Törmänen,Finland,"August 31, 1990 (age 33)",Active,2004 - Present,Suomi,NaN,"$11,156",Age of Empires II(inactive),2092(current)2096(highest),"['https://discord.gg/KUR4jBk', 'https://steamc...",NaN,2466(highest),33
80,WaRRioR,Сергей Прыстинский,Russia,"February 7, 1993 (age 31)",Active,2013 - Present,SalzZ,NaN,"$1,507",Age of Empires II,1921(current)1988(highest),"['https://discord.gg/JjJVkSb', 'https://steamc...",NaN,2029(highest),31
81,Yasin,Yasin,Turkey,,Active,2008 - 20142020 - Present,Hot Young Masters,"Yax, Yas1n","$1,568",Age of Empires II,2009(current)2046(highest),['https://steamcommunity.com/profiles/76561198...,NaN,NaN,None
82,Z40,NaN,Taiwan,,Active,NaN,Taiwan Aoe Gamer,"z40305125, Angelsinting","$1,802",Age of Empires II,2084(current)2088(highest),['https://steamcommunity.com/profiles/76561199...,NaN,2065(highest),None
83,Zuppi,Tuomas Törmänen,Finland,"August 31, 1990 (age 33)",Active,2004 - Present,Suomi,NaN,"$11,156",Age of Empires II(inactive),2092(current)2096(highest),"['https://discord.gg/KUR4jBk', 'https://steamc...",NaN,2466(highest),33

In [38]:
final = pd.concat([players, playersRest], axis=0)
final.drop_duplicates(subset=['User'], keep='first', inplace=True)

In [77]:
import json
with open('result.json', 'r') as file:
    data = json.load(file)

In [45]:
final['User'] = final['User'].map(data)

In [82]:
players.drop(columns=['Born','Tournament(AoE2)','RMVoobly(AoE2)','Alternate IDs','Games'], inplace=True)

In [6]:

players = players.explode('links')
players

,User,Name,Nationality,Born,Status,Years Active,Team,Alternate IDs,Approx. Total Winnings,Games,Tournament(AoE2),links,achievements,RMVoobly(AoE2),age
0,Windy,NaN,China,,Retired,2003 - 20042013,NaN,NaN,"$1,800",Age of Empires II(inactive),NaN,NaN,NaN,NaN,None
1,RAlbEr,Alberto Perandones,Spain,"September 21, 1982 (age 41)",Active,2002 - 201120172020 - Present,NaN,"Ralber, rAlbEr_MH, ralbertv, KuuZilla, Steven","$1,184",Age of Empires II(inactive),NaN,"['https://ralbertv.wordpress.com/', 'https://t...",NaN,NaN,41
2,Kamigawa,Simone Canel,Italy,"April 23, 1995 (age 29)",Active,2014 - Present,Rulers of Rome,NaN,"$2,238",Age of Empires II,1983(current)2000(highest),['https://steamcommunity.com/profiles/76561198...,NaN,2122(highest),29
3,OLADUSHEK,Юрий Геращенко,Belarus,"June 19, 1995 (age 29)",Active,2014 - Present,Sweety Boys,NaN,"$1,908",Age of Empires II,NaN,['https://steamcommunity.com/profiles/76561198...,NaN,NaN,29
4,StrayDog,NaN,China,,Active,1999/2002 - 20082016 - Present,White Wolf Palace,"BlackMamba, CiCa_Zhou","$2,619",Age of Empires II,2031(current)2036(highest),NaN,NaN,2511(highest),None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,FlyLikeDjango,Joshua Fabian Briel,Germany,"February 24, 1997 (age 27)",Active,2020 - Present,NaN,"FLD, Django","$1,322",Age of Empires II(inactive)Age of Empires IV(i...,1957(current)1994(highest),"['https://discord.gg/HXFSj2R', 'https://www.in...",NaN,NaN,27
213,Sitaux,Arthur Alauzen,France,"November 16, 1999 (age 24)",Active,2015 - Present,mYinsanity,"wouf wouf, Cocorico","$38,366",Age of Empires IIAge of Empires IV(inactive),NaN,"['https://discord.gg/GZGGUTF', 'https://steamc...",NaN,2366(highest),24
214,Salted_Pepper,NaN,Netherlands,,Active,2015 – Present,NaN,Wickea,$204,Age of Empires II,NaN,"['https://discord.gg/NCzZt7n', 'https://steamc...",NaN,NaN,None
215,Flightlessbird,Jason,New Zealand,,Active,NaN,NaN,NaN,$228,Age of Empires II,NaN,['https://steamcommunity.com/profiles/76561198...,NaN,NaN,None
216,IORI,NaN,China,,Active,2004 - 200820172020 - Present,NaN,"KISS, The_Koven_fan, CMF-A-精鹰","$3,232",Age of Empires II(inactive),NaN,NaN,['World Clan League 4'],NaN,None

In [20]:
names = list(players['User'])
names.sort()
print(names)

names

['ACCM', 'Abe', 'Alive', 'Alperen', 'Andorin', 'Andrew_(Hungarian_player)', 'AngelinaJolie', 'BT4', 'BacT', 'BadBoy', 'BadBoy', 'BadBoy', 'BlinG', 'BruH', 'Bvirus', 'Bvirus', 'Bvirus', 'CL_(player)', 'Canary', 'Capout', 'Capout', 'Capout', 'Chart', 'Chun_Yu', 'Chun_Yu', 'Chun_Yu', 'Chun_Yu', 'Chun_Yu', 'Classicpro', 'CooL', 'Crexis', 'Cyclops', 'Cyclops', 'Dante_(American_player)', 'Dante_(American_player)', 'Dante_(American_player)', 'DarK_KnighT', 'Darvoi', 'Dave_hun', 'Dogao', 'Dr.Kozmonot', 'Dr.Kozmonot', 'Dratek', 'DreaIVIS', 'Dreamer', 'Dziamdziak', 'Dziamdziak', 'ElMago', 'ElNoniro', 'El_Matador', 'Emalius2', 'Emalius2', 'Emil_:D', 'Escape', 'F1Re', 'FIRE', 'Faraday', 'Faraday', 'Faraday', 'FeAge', 'FeAge', 'Fedex', 'FletcheR', 'Flightlessbird', 'FlyLikeDjango', 'FlyLikeDjango', 'Gary', 'Gary', 'GeeK', 'GeeK', 'Geoffrey', 'Gergis', 'GoKu', 'Good_Game', 'Halen', 'Hani', 'Hearttt', 'IORI', 'IORI', 'IamKmkm', 'IamKmkm', 'Imperio_cc', 'Imperio_cc', 'JackK', 'Janik', 'Jibatong', 'Jidba', 'Jidba', 'JonSlow', 'JonSlow', 'JorDan_AoE', 'JorDan_AoE', 'JuanNNN', 'JuanNNN', 'Kamigawa', 'Kamigawa', 'Kaohen', 'Kasva', 'Kasva', 'King_Boo', 'KingstoNe', 'Komtan', 'Komtan', 'Kongensgade', 'Kongensgade', 'Koven', 'LaN', 'Latko', 'Lojza', 'Lojza', 'Lojza', 'Loko', 'Lucho', 'Lyx', 'Lyx', 'M4Te', 'M4Te', 'MbL', 'Metal', 'Mihai06', 'Mihai06', 'Millo', 'Mimmox', 'Ming_(Hong_Kongese_player)', 'Modri', 'Modri', 'Nectarie', 'Nick', 'Noisick', 'Novalily', 'OLADUSHEK', 'OLADUSHEK', 'Ozone', 'Paladin_(player)', 'Paladin_(player)', 'Pela', 'Pela', 'Praxes', 'Praxes', 'RAYAN', 'RAYAN', 'RAlbEr', 'RediRodion', 'Redlash', 'Redlash', 'Repard', 'Repard', 'RiuT', 'Ronotovi', 'Ronotovi', 'Ronotovi', 'Salsicciotto1999', 'Salsicciotto1999', 'Salsicciotto1999', 'Salted_Pepper', 'Saymyname', 'Scotty', 'SeOul', 'Shades', 'Shades', 'Sitaux', 'Skull', 'Skull', 'Slam', 'Slam', 'Slam', 'Slam', 'Socksyy', 'Solara', 'Somero', 'Somero', 'SongSong', 'Sora_Kuma', 'Spaden', 'Spaden', 'StrayDog', 'T90Official', 'Target331', 'Target331', 'Target331', 'TheMax', 'The_Bloodless', 'The_Bloodless', 'The_Dragonstar', 'TokiwaMiao', 'Tulendeena', 'Twigg', 'Twigg', 'Ubetnir', 'Uno1', 'Uno1', 'Uno1', 'Uzzi', 'VicVega', 'VicVega', 'Vile', 'Vile', 'Vinchester', 'Vivi', 'Vodka_L', 'WAkKo', 'WAkKo', 'Warsteiner', 'Whitecourt', 'Whoop', 'Windy', 'Windy', 'WraTh_(Brazilian_player)', 'WraTh_(Irish_player)', 'WraTh_(Irish_player)', 'Xiaofan', 'Yezris', 'Yezris', 'Yezris', 'Yo', 'Zyatou', 'Zyatou']

In [43]:
df = pd.read_csv('TempData/playersR.csv')
df.columns

Index(['id', 'player_id', 'num_matches', 'num_wins', 'num_games',
       'tournament_ids', 'last_match', 'last_match_time', 'rank', 'elo',
       'elo_update', 'de_elo', 'de_rank', 'de_update', 'voobly_elo',
       'voobly_rank', 'voobly_update', 'id.1', 'name', 'alias', 'team_id',
       'country_key', 'initial_elo_1v1', 'voobly_id', 'steam_id',
       'steam_id_failed', 'twitch', 'youtube', 'twitter', 'facebook',
       'create_user', 'create_time', 'update_user', 'update_time'],
      dtype='object')

In [42]:
final

,User,Name,Nationality,Born,Status,Years Active,Team,Alternate IDs,Approx. Total Winnings,Games,Tournament(AoE2),links,achievements,RMVoobly(AoE2),age
0,Windy,NaN,China,,Retired,2003 - 20042013,NaN,NaN,"$1,800",Age of Empires II(inactive),NaN,NaN,NaN,NaN,None
1,RAlbEr,Alberto Perandones,Spain,"September 21, 1982 (age 41)",Active,2002 - 201120172020 - Present,NaN,"Ralber, rAlbEr_MH, ralbertv, KuuZilla, Steven","$1,184",Age of Empires II(inactive),NaN,"['https://ralbertv.wordpress.com/', 'https://t...",NaN,NaN,41
2,Kamigawa,Simone Canel,Italy,"April 23, 1995 (age 29)",Active,2014 - Present,Rulers of Rome,NaN,"$2,238",Age of Empires II,1983(current)2000(highest),['https://steamcommunity.com/profiles/76561198...,NaN,2122(highest),29
3,OLADUSHEK,Юрий Геращенко,Belarus,"June 19, 1995 (age 29)",Active,2014 - Present,Sweety Boys,NaN,"$1,908",Age of Empires II,NaN,['https://steamcommunity.com/profiles/76561198...,NaN,NaN,29
4,StrayDog,NaN,China,,Active,1999/2002 - 20082016 - Present,White Wolf Palace,"BlackMamba, CiCa_Zhou","$2,619",Age of Empires II,2031(current)2036(highest),NaN,NaN,2511(highest),None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,Villese,Ville Jämsä,Finland,"November 30, 1994 (age 29)",Active,2014 - Present,Suomi,Wille_Wallace,"$82,862",Age of Empires IIAge of Empires IV(inactive),2289(current)2358(highest),['https://steamcommunity.com/profiles/76561198...,NaN,2568(highest),29
75,WaRRioR,Сергей Прыстинский,Russia,"February 7, 1993 (age 31)",Active,2013 - Present,SalzZ,NaN,"$1,507",Age of Empires II,1921(current)1988(highest),"['https://discord.gg/JjJVkSb', 'https://steamc...",NaN,2029(highest),31
77,Yasin,Yasin,Turkey,,Active,2008 - 20142020 - Present,Hot Young Masters,"Yax, Yas1n","$1,568",Age of Empires II,2009(current)2046(highest),['https://steamcommunity.com/profiles/76561198...,NaN,NaN,None
78,Z40,NaN,Taiwan,,Active,NaN,Taiwan Aoe Gamer,"z40305125, Angelsinting","$1,802",Age of Empires II,2084(current)2088(highest),['https://steamcommunity.com/profiles/76561199...,NaN,2065(highest),None
79,Zuppi,Tuomas Törmänen,Finland,"August 31, 1990 (age 33)",Active,2004 - Present,Suomi,NaN,"$11,156",Age of Empires II(inactive),2092(current)2096(highest),"['https://discord.gg/KUR4jBk', 'https://steamc...",NaN,2466(highest),33

In [46]:

end = pd.merge(df, final, left_on='name', right_on='User', how='right')
end.to_csv('playersDataLiq.csv')

In [2]:
import pandas as pd

df = pd.read_csv('playersDataLiq.csv')

df

,Unnamed: 0,id,player_id,num_matches,num_wins,num_games,tournament_ids,last_match,last_match_time,rank,...,Years Active,Team,Alternate IDs,Approx. Total Winnings,Games,Tournament(AoE2),links,achievements,RMVoobly(AoE2),age
0,0,429.0,327.0,12.0,6.0,31.0,"124,127,130,133",1962.0,2004-07-20 23:59:59,NaN,...,2003 - 20042013,NaN,NaN,"$1,800",Age of Empires II(inactive),NaN,NaN,NaN,NaN,NaN
1,1,407.0,302.0,14.0,4.0,23.0,"114,119,124,129,134,136,264",10798.0,2009-11-20 00:00:00,NaN,...,2002 - 201120172020 - Present,NaN,"Ralber, rAlbEr_MH, ralbertv, KuuZilla, Steven","$1,184",Age of Empires II(inactive),NaN,"['https://ralbertv.wordpress.com/', 'https://t...",NaN,NaN,41.0
2,2,188.0,446.0,39.0,14.0,113.0,"16,30,92,150,154,166,167,180,191,203,206,214,2...",10903.0,2023-06-04 00:00:00,112.0,...,2014 - Present,Rulers of Rome,NaN,"$2,238",Age of Empires II,1983(current)2000(highest),['https://steamcommunity.com/profiles/76561198...,NaN,2122(highest),29.0
3,3,210.0,606.0,92.0,23.0,208.0,"166,171,172,213,214,215,225,227,228,235,237,24...",11054.0,2023-06-22 00:00:00,241.0,...,2014 - Present,Sweety Boys,NaN,"$1,908",Age of Empires II,NaN,['https://steamcommunity.com/profiles/76561198...,NaN,NaN,29.0
4,4,142.0,64.0,33.0,16.0,100.0,"2,17,90,157,166,168,219,245,316,343,503,505,51...",10450.0,2023-05-06 00:00:00,90.0,...,1999/2002 - 20082016 - Present,White Wolf Palace,"BlackMamba, CiCa_Zhou","$2,619",Age of Empires II,2031(current)2036(highest),NaN,NaN,2511(highest),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,216,25.0,51.0,241.0,154.0,835.0,"2,4,9,12,24,32,67,88,93,99,107,108,150,151,152...",11097.0,2023-07-01 00:00:00,6.0,...,2014 - Present,Suomi,Wille_Wallace,"$82,862",Age of Empires IIAge of Empires IV(inactive),2289(current)2358(highest),['https://steamcommunity.com/profiles/76561198...,NaN,2568(highest),29.0
217,217,159.0,118.0,88.0,25.0,178.0,"30,47,59,171,186,200,205,213,215,227,230,231,2...",11050.0,2023-06-19 00:00:00,242.0,...,2013 - Present,SalzZ,NaN,"$1,507",Age of Empires II,1921(current)1988(highest),"['https://discord.gg/JjJVkSb', 'https://steamc...",NaN,2029(highest),31.0
218,218,832.0,898.0,36.0,18.0,124.0,"238,244,281,293,353,381,389,469,471,473,494,50...",11088.0,2023-06-25 00:00:00,67.0,...,2008 - 20142020 - Present,Hot Young Masters,"Yax, Yas1n","$1,568",Age of Empires II,2009(current)2046(highest),['https://steamcommunity.com/profiles/76561198...,NaN,NaN,NaN
219,219,910.0,963.0,14.0,5.0,40.0,"262,311,337,371,402,498",9286.0,2022-11-26 00:00:00,104.0,...,NaN,Taiwan Aoe Gamer,"z40305125, Angelsinting","$1,802",Age of Empires II,2084(current)2088(highest),['https://steamcommunity.com/profiles/76561199...,NaN,2065(highest),NaN
220,220,24.0,50.0,95.0,48.0,313.0,"2,8,9,14,15,17,21,29,67,87,96,102,103,110,111,...",8299.0,2022-05-17 00:00:00,47.0,...,2004 - Present,Suomi,NaN,"$11,156",Age of Empires II(inactive),2092(current)2096(highest),"['https://discord.gg/KUR4jBk', 'https://steamc...",NaN,2466(highest),33.0